<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/marketplace.css">
  <title>Marketplace</title>
</head>

<body>
  <header>
    <h1 class="header-title">Marketplace</h1>
  </header>

  <div class="container">

    <div class="searchbar-container">
      <h2>Search your listings</h2>
      <input type="text" id="search-input" placeholder="Search..." class="search-input" onkeyup="searchListings()" />
    </div>

    <div class="navigation-buttons">
      <button class="back-btn" onclick="window.history.back();">
        <i class="fas fa-arrow-left"></i> Go Back
      </button>
      <button class="quick-shopping-btn" onclick="window.location.href='shopper_swiping.html';">
        <i class="fas fa-shopping-cart"></i> Quick Shopping
      </button>
    </div>

  <div class="mycard">
    {% for x in market %}
        <div class="card">
            <img src="{{ x.image.url }}" alt="{{ x.title }}">
            <div class="card-details">
                <h3>{{ x.title }}</h3>
                <p>{{ x.price }}</p>
                <p>{{ x.quantity }}</p>
                <p>{{ x.allergy_rating }}</p>
                <p>{{ x.dietary_rating}}</p>
                <p>{{ x.stock_status }}</p>
                <p>{{ x.pickup_or_delivery }}</p>
                <p>{{ x.company_name }}</p>
            </div>
                <div class="add-link">
                    <a href="details/{{ x.id }}" class="btn">Add to Cart</a>
                </div>
        </div>
    {% endfor %}
  </div>
    
</body>
</html>


