<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration</title>
    
</head>
<body>
    <div class="reg_header">
        <h2>Welcome to Save a Bite</h2>
        <p>Help us serve you better answering the questions below</p>
    </div>

    <div class="reg-container">
        <form action = "" method="POST" class="user_signup">
            {% csrf_token %}
            <div class="reg">
                <p>Government First Name</p>
                <input type="text" name="first_name" id="first_name" placeholder="Enter your legal first name">
            </div>
            <div class="reg">
                <p>Government Last Name</p>
                <input type="text" name="last_name" id="last_name" placeholder="Enter your legal last name">
            </div>
            <div class="reg">
                <p>Phone number</p>
                <input type="text" name="phone_number" id="phone_number" placeholder="Enter your phone number">
            </div>
            <div class="reg">
                <p>Birthday</p>
                <input type="date" name="birthday" id="birthday" placeholder="Enter your birthday">
            </div>
            <div class="reg">
                <p>Street Address</p>
                <input type="text" name="street_address" id="street_address" placeholder="Enter your street address" required>
            </div>            
            <div class="reg">
                <p>City</p>
                <input type="text" name="city" id="city" placeholder="Enter your city" required>
            </div>
            <div class="reg">
                <p>State</p>
                <input type="text" name="state" id="state" placeholder="Enter your state" required>
            </div>
            <div class="reg">
                <p>Zip Code</p>
                <input type="text" name="zip_code" id="zip_code" placeholder="Enter your zip code" required>
            </div>
            <div class="reg">
                <p>Country</p>
                {{ form.country }}
            </div>
            <div class="reg">
                <p>Allergy</p>
                {{ form.allergy }}
            </div>
            <div class="reg">
                <p>Dietary Restriction(s)</p>
                {{ form.dietary_restrictions }}
            </div>
            <div class="reg-button">
                <button type="submit" class="submit-btn">Submit</button>
            </div>
        </form>
    </div>






</body>
</html>