<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/welcome.css">
  <title>Ecoswap</title>
</head>
<body>
  <div class="container">
    <h1>Ecoswap</h1>
    <div>
      <p>Please select your role to get started!</p>
      <div class="buttons">
        <button>Partner</button>
        <button>Shopper</button>
      </div>
      <p>Food for all</p>
    </div>
  </div>
</body>
</html>
